# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
.venv/
venv/
ENV/
env/

# Distribution / Packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg

# Django
db.sqlite3
staticfiles/
media/

# IDEs and Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db